html {
    scroll-behavior: smooth;
  }
  
  body {
    margin-top: 25px;
    font-family: MainFont;
  }
 
  .col-md-4 {
    margin-bottom: 25px;
  }

  .pictures {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }