

html {
    scroll-behavior: smooth;
  }
  
  body {
    margin-top: 25px;
    font-family: 'Francois One', sans-serif;    
  }
    
  .col-md-4 {
    margin-bottom: 25px;
  }

  .pictures {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .col-md-12 {
    width: 100%;
    height: 400px;
  }

