

html {
    scroll-behavior: smooth;
  }
  
  body {
    margin-top: 25px;
    font-family: 'Mukta', sans-serif;    font-size: 100%;
  }
    
  .col-md-4 {
    margin-bottom: 25px;
  }

  .pictures {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .col-md-12 {
    width: 50%;
    margin-top: 2%;
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200%;

  }

