html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: MainFont;
  }
  .gallery {
    margin: 5px;
    float: left;
    width: 180px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }