

html {
    scroll-behavior: smooth;
  }
  
  body {
    margin-top: 25px;
    font-family: 'Mukta', sans-serif;    font-size: 100%;
  }
    
  .col-md-4 {
    margin-bottom: 25px;
  }

  .pictures {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .col {
    margin-top: 2%;
    position: relative;
    text-align: center;
    height: 300;
  }

  .col-lg {
    margin-top: 10%;
    
    margin-right: 20%;
  }

  .text {
    margin-top: 40%;
    margin-left: 50%;
    margin-right: -70%;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200%;

  }

